

<button type="button" class="primary" data-toggle="modal" data-target="#exampleModalCenter">
Login
  </button>
  

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="color: black;">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <div class="form-group ">
                <label>E-mail</label>
                <input type="email" name="username" class="form-control" [(ngModel)]="form.username" required />
                <p *ngIf="loginError.username != null" style="color: red;" >{{loginError.username}}</p>                
            </div>
            <div class="form-group ">
                <label>Password</label>
                <input type="password" name="password" class="form-control" [(ngModel)]="form.password"
                    required />
                <p *ngIf="loginError.password != null" style="color: red;" >{{loginError.password}}</p>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Remember me
                </label>
                <a href="#" class="float-right" >
                    ¿Forgot password?
                </a>
            </div>     
            <br>
            <button type="button" class="primary fullWidth" data-dismiss="modal" (click)="login()">Log in</button>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="warning fullWidth">Register</button>
        </div>
      </div>
    </div>
  </div>